.aside .logo a::before{
    border-top: 4px solid #FF4400;
    border-left: 4px solid #FF4400;
}

.aside .logo a::after{
    border-bottom: 4px solid #FF4400;
    border-right: 4px solid #FF4400;
}
.nav-toggler .fa,
.nav-close .fa,
.contact .contact-info-item .icon .fa,
.project .project-item .project-info .icon .fa,
.project .project-filter button.active,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #FF4400;
}

.btn,
.blog .blog-item-inner .blog-img .blog-date,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.about .about-content .skills .skill-item .progress .progress-in,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a{
   background-color: #FF4400; 
}

.project .project-filter button.active{
    border-color: #FF4400;
}